In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
def get_df(url):
    html = requests.get(url).content
    
    soup = bs(html, 'html.parser')
    
    tabla = soup.find_all('table')[0]
    
    filas = tabla.find_all('tr')
    
    columnas = filas[0].find_all('th')
    cols = [i.text.split('\n')[0] for i in columnas]
    
    filas_def = []

    for i in range(1, len(filas)):
        fila_i = filas[i].find_all('td')
        filas_def.append(fila_i)

    data = []

    for i in range(len(filas_def)):
        aux = []
        for j in range(len(filas_def[i])):
            elem = filas_def[i][j].text
            aux.append(elem)
        data.append(aux)
        
    for i in range(len(data)):
        data[i][2] = data[i][2][:-1]
    
    df = pd.DataFrame(data, columns=cols)
    return df

# Años 60

In [3]:
sxt_df2 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1962')
sxt_df2

      №                                 Title              Artist(s)
0     1               "Stranger on the Shore"             Acker Bilk
1     2             "I Can't Stop Loving You"            Ray Charles
2     3                  "Mashed Potato Time"          Dee Dee Sharp
3     4             "Roses Are Red (My Love)"           Bobby Vinton
4     5                        "The Stripper"             David Rose
..  ...                                   ...                    ...
95   96  "(Girls, Girls, Girls) Made to Love"           Eddie Hodges
96   97                   "Town Without Pity"            Gene Pitney
97   98                   "If I Had a Hammer"   Peter, Paul and Mary
98   99         "I Wish That We Were Married"  Ronnie & the Hi-Lites
99  100                      "Surfin' Safari"         The Beach Boys

[100 rows x 3 columns]

In [4]:
sxt_df3 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1963')
sxt_df3

    No.                   Title                  Artist(s)
0     1        "Surfin' U.S.A."             The Beach Boys
1     2  "The End of the World"              Skeeter Davis
2     3    "Rhythm of the Rain"               The Cascades
3     4          "He's So Fine"               The Chiffons
4     5           "Blue Velvet"               Bobby Vinton
..  ...                     ...                        ...
95   96           "Maria Elena"       Los Indios Tabajaras
96   97          "Detroit City"                 Bobby Bare
97   98          "Twenty Miles"             Chubby Checker
98   99            Green, Green  The New Christy Minstrels
99  100              "Hey Girl"              Freddie Scott

[100 rows x 3 columns]

In [5]:
sxt_df4 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1964')
sxt_df4

      №                        Title                      Artist(s)
0     1   "I Want to Hold Your Hand"                    The Beatles
1     2              "She Loves You"                    The Beatles
2     3              "Hello, Dolly!"                Louis Armstrong
3     4           "Oh, Pretty Woman"                    Roy Orbison
4     5               "I Get Around"                 The Beach Boys
..  ...                          ...                            ...
95   96        "A Fool Never Learns"                  Andy Williams
96   97                  "Bad to Me"  Billy J. Kramer & The Dakotas
97   98  "There! I've Said It Again"                   Bobby Vinton
98   99                "Louie Louie"                   The Kingsmen
99  100           "Needles and Pins"                  The Searchers

[100 rows x 3 columns]

In [6]:
sxt_df5 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1965')
sxt_df5

,No.,Title,Artist(s)
0,1,"""Wooly Bully""",Sam the Sham and the Pharaohs
1,2,"""I Can't Help Myself (Sugar Pie Honey Bunch)""",Four Tops
2,3,"""(I Can't Get No) Satisfaction""",The Rolling Stones
3,4,"""You Were on My Mind""",We Five
4,5,"""You've Lost That Lovin' Feelin'""",The Righteous Brothers
...,...,...,...
95,96,"""The Race Is On""",Jack Jones
96,97,"""I'm a Fool""","Dino, Desi & Billy"
97,98,"""The Boy from New York City""",The Ad Libs
98,99,"""Keep Searchin' (We'll Follow the Sun)""",Del Shannon
99,100,"""How Sweet It Is (To Be Loved by You)""",Marvin Gaye

In [7]:
sxt_df6 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1966')
sxt_df6

,№,Title,Artist(s)
0,1,"""California Dreamin'""",The Mamas & the Papas
1,2,"""96 Tears""",? and the Mysterians
2,3,"""What Becomes of the Brokenhearted""",Jimmy Ruffin
3,4,"""Last Train to Clarksville""",The Monkees
4,5,"""Reach Out I'll Be There""",Four Tops
...,...,...,...
95,96,"""Devil with a Blue Dress On/Good Golly Miss Mo...",Mitch Ryder & the Detroit Wheels
96,97,"""Wouldn't It Be Nice""",The Beach Boys
97,98,"""This Old Heart of Mine""",The Isley Brothers
98,99,"""Green Grass""",Gary Lewis & The Playboys
99,100,"""A Well Respected Man""",The Kinks

In [8]:
sxt_df7 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1967')
sxt_df7

    No.                                Title                      Artist(s)
0     1                   "To Sir With Love"                           Lulu
1     2                         "The Letter"                   The Box Tops
2     3                  "Ode to Billie Joe"                  Bobbie Gentry
3     4                              "Windy"                The Association
4     5                     "I'm a Believer"                    The Monkees
..  ...                                  ...                            ...
95   96                             "Mirage"  Tommy James and the Shondells
96   97         "Green, Green Grass of Home"                      Tom Jones
97   98                "I Can See for Miles"                        The Who
98   99          "Don't Sleep in the Subway"                   Petula Clark
99  100  "Thank the Lord for the Night Time"                   Neil Diamond

[100 rows x 3 columns]

In [9]:
sxt_df8 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1968')
sxt_df8

,No.,Title,Artist(s)
0,1,"""Hey Jude""",The Beatles
1,2,"""Love is Blue""",Paul Mauriat
2,3,"""Honey""",Bobby Goldsboro
3,4,"""(Sittin' On) The Dock of the Bay""",Otis Redding
4,5,"""People Got to Be Free""",The Rascals
...,...,...,...
95,96,"""Piece of My Heart""",Big Brother and the Holding Company
96,97,"""Suzie Q.""",Creedence Clearwater Revival
97,98,"""Bend Me, Shape Me""",The American Breed
98,99,"""Hey, Western Union Man""",Jerry Butler
99,100,"""Never Give You Up""",Jerry Butler

In [10]:
sxt_df9 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1969')
sxt_df9

,No.,Title,Artist(s)
0,1,"""Sugar, Sugar""",The Archies
1,2,"""Aquarius/Let the Sunshine In""",The 5th Dimension
2,3,"""I Can't Get Next to You""",The Temptations
3,4,"""Honky Tonk Women""",The Rolling Stones
4,5,"""Everyday People""",Sly and the Family Stone
...,...,...,...
96,97,"""My Whole World Ended (The Moment You Left Me)""",David Ruffin
97,98,"""Soul Deep""",The Box Tops
98,99,"""Hooked on a Feeling""",B.J. Thomas
99,100,"""Sweet Cream Ladies""",The Box Tops
100,Tie,"""Let Me""",Paul Revere & the Raiders

In [11]:
sxt_df_def = vertical_stack = pd.concat([sxt_df2, sxt_df3, sxt_df4, sxt_df5, sxt_df6, sxt_df7, sxt_df8, sxt_df9], axis=0)
sxt_df_def.reset_index()

number = []
for i in range(1, 802):
    number.append(i)
    
sxt_df_def['№'] = number
sxt_df_def=sxt_df_def.drop('No.', axis=1)
sxt_df_def

,№,Title,Artist(s)
0,1,"""Stranger on the Shore""",Acker Bilk
1,2,"""I Can't Stop Loving You""",Ray Charles
2,3,"""Mashed Potato Time""",Dee Dee Sharp
3,4,"""Roses Are Red (My Love)""",Bobby Vinton
4,5,"""The Stripper""",David Rose
...,...,...,...
96,797,"""My Whole World Ended (The Moment You Left Me)""",David Ruffin
97,798,"""Soul Deep""",The Box Tops
98,799,"""Hooked on a Feeling""",B.J. Thomas
99,800,"""Sweet Cream Ladies""",The Box Tops
100,801,"""Let Me""",Paul Revere & the Raiders

# Años 70

In [12]:
svn_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1970')
svn_df

    No.                                   Title          Artist(s)
0     1            "Bridge Over Troubled Water"  Simon & Garfunkel
1     2        "(They Long to Be) Close to You"     The Carpenters
2     3                        "American Woman"      The Guess Who
3     4     "Raindrops Keep Fallin' on My Head"        B.J. Thomas
4     5                                   "War"        Edwin Starr
..  ...                                     ...                ...
95   96  "Look What They've Done to My Song Ma"    The New Seekers
96   97               "Walk A Mile In My Shoes"          Joe South
97   98                    "The Thrill Is Gone"          B.B. King
98   99                "It's Only Make Believe"      Glen Campbell
99  100                               "Call Me"    Aretha Franklin

[100 rows x 3 columns]

In [13]:
svn_df1 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1971')
svn_df1

    No.                                    Title                 Artist(s)
0     1                       "Joy to the World"           Three Dog Night
1     2         "Maggie May"/"Reason to Believe"               Rod Stewart
2     3  "It's Too Late"/"I Feel the Earth Move"               Carole King
3     4                          "One Bad Apple"               The Osmonds
4     5        "How Can You Mend a Broken Heart"                  Bee Gees
..  ...                                      ...                       ...
95   96                             "Sweet Mary"         Wadsworth Mansion
96   97          "Right on the Tip of My Tongue"  Brenda & the Tabulations
97   98                "One Less Bell to Answer"         The 5th Dimension
98   99                    "Riders on the Storm"                 The Doors
99  100                        "It's Impossible"                Perry Como

[100 rows x 3 columns]

In [14]:
svn_df2 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1972')
svn_df2

,No.,Title,Artist(s)
0,1,"""The First Time Ever I Saw Your Face""",Roberta Flack
1,2,"""Alone Again (Naturally)""",Gilbert O'Sullivan
2,3,"""American Pie""",Don McLean
3,4,"""Without You""",Harry Nilsson
4,5,"""The Candy Man""",Sammy Davis Jr.
...,...,...,...
95,96,"""Speak to the Sky""",Rick Springfield
96,97,"""I'd Like to Teach the World to Sing (In Perfe...",The Hillside Singers
97,98,"""Walkin' in the Rain with the One I Love""",Love Unlimited
98,99,"""Get on the Good Foot""",James Brown
99,100,"""Pop That Thang""",The Isley Brothers

In [15]:
svn_df3 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1973')
svn_df3

    No.                                         Title               Artist(s)
0     1  "Tie a Yellow Ribbon Round the Ole Oak Tree"   Tony Orlando and Dawn
1     2                        "Bad, Bad Leroy Brown"               Jim Croce
2     3             "Killing Me Softly with His Song"           Roberta Flack
3     4                             "Let's Get It On"             Marvin Gaye
4     5                                     "My Love"  Paul McCartney & Wings
..  ...                                           ...                     ...
95   96                                   "Free Ride"  The Edgar Winter Group
96   97                                "Space Oddity"             David Bowie
97   98       "It Never Rains in Southern California"          Albert Hammond
98   99                        "The Twelfth of Never"            Donny Osmond
99  100                    "Papa Was a Rollin' Stone"         The Temptations

[100 rows x 3 columns]

In [16]:
svn_df4 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1974')
svn_df4

    No.                     Title                 Artist(s)
0     1         "The Way We Were"          Barbra Streisand
1     2      "Seasons in the Sun"               Terry Jacks
2     3            "Love's Theme"  Love Unlimited Orchestra
3     4  "Come and Get Your Love"                   Redbone
4     5         "Dancing Machine"             The Jackson 5
..  ...                       ...                       ...
95   96       "Rockin' Roll Baby"            The Stylistics
96   97     "I Honestly Love You"        Olivia Newton-John
97   98              "Call on Me"                   Chicago
98   99              "Wild Thing"                     Fancy
99  100             "Mighty Love"              The Spinners

[100 rows x 3 columns]

In [17]:
svn_df5 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1975')
svn_df5

    No.                             Title                       Artist(s)
0     1      "Love Will Keep Us Together"              Captain & Tennille
1     2               "Rhinestone Cowboy"                   Glen Campbell
2     3            "Philadelphia Freedom"                      Elton John
3     4  "Before the Next Teardrop Falls"                   Freddy Fender
4     5              "My Eyes Adored You"                   Frankie Valli
..  ...                               ...                             ...
95   96        "Only You (And You Alone)"                     Ringo Starr
96   97              "Third Rate Romance"             Amazing Rhythm Aces
97   98      "You Ain't Seen Nothing Yet"        Bachman–Turner Overdrive
98   99                 "Swearin' to God"                   Frankie Valli
99  100                     "Get Dancin'"  Disco-Tex and the Sex-O-Lettes

[100 rows x 3 columns]

In [18]:
svn_df6 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1976')
svn_df6

,No.,Title,Artist(s)
0,1,"""Silly Love Songs""",Wings
1,2,"""Don't Go Breaking My Heart""",Elton John & Kiki Dee
2,3,"""Disco Lady""",Johnnie Taylor
3,4,"""December, 1963 (Oh, What a Night)""",The Four Seasons
4,5,"""Play That Funky Music""",Wild Cherry
...,...,...,...
95,96,"""Rock and Roll All Nite""",Kiss
96,97,"""Disco Duck""",Rick Dees & His Cast of Idiots
97,98,"""Take the Money and Run""",Steve Miller Band
98,99,"""Squeeze Box""",The Who
99,100,"""Country Boy (You Got Your Feet in L.A.)""",Glen Campbell

In [19]:
svn_df7 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1977')
svn_df7

,No.,Title,Artist(s)
0,1,"""Tonight's the Night (Gonna Be Alright)""",Rod Stewart
1,2,"""I Just Want to Be Your Everything""",Andy Gibb
2,3,"""Best of My Love""",The Emotions
3,4,"""Evergreen (Love Theme from A Star Is Born)""",Barbra Streisand
4,5,"""Angel in Your Arms""",Hot
...,...,...,...
95,96,"""Don't Worry Baby""",B.J. Thomas
96,97,"""Knowing Me, Knowing You""",ABBA
97,98,"""How Much Love""",Leo Sayer
98,99,"""Star Wars (Main Title)""",London Symphony Orchestra
99,100,"""Devil's Gun""",C.J. & Company

In [20]:
svn_df8 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1978')
svn_df8

    No.                   Title                           Artist(s)
0     1        "Shadow Dancing"                           Andy Gibb
1     2           "Night Fever"                            Bee Gees
2     3  "You Light Up My Life"                         Debby Boone
3     4         "Stayin' Alive"                            Bee Gees
4     5     "Kiss You All Over"                               Exile
..  ...                     ...                                 ...
95   96            "Ebony Eyes"                           Bob Welch
96   97  "The Name of the Game"                                ABBA
97   98       "We're All Alone"                       Rita Coolidge
98   99      "Hollywood Nights"  Bob Seger & The Silver Bullet Band
99  100          "Deacon Blues"                          Steely Dan

[100 rows x 3 columns]

In [21]:
svn_df9 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1979')
svn_df9

    No.                    Title       Artist(s)
0     1             "My Sharona"       The Knack
1     2              "Bad Girls"    Donna Summer
2     3               "Le Freak"            Chic
3     4  "Da Ya Think I'm Sexy?"     Rod Stewart
4     5               "Reunited"  Peaches & Herb
..  ...                      ...             ...
95   96          "Dancin' Shoes"    Nigel Olsson
96   97               "The Boss"      Diana Ross
97   98                "Sail On"      Commodores
98   99          "I Do Love You"              GQ
99  100            "Strange Way"        Firefall

[100 rows x 3 columns]

In [61]:
svn_df_def = vertical_stack = pd.concat([svn_df, svn_df1, svn_df2, svn_df3, svn_df4, svn_df5, svn_df6, svn_df7, svn_df8, svn_df9], axis=0)
svn_df_def.reset_index()

number = []
for i in range(1, 1001):
    number.append(i)
    
svn_df_def['№'] = number
svn_df_def = svn_df_def.drop('No.', axis=1)
svn_df_def

                                  Title          Artist(s)     №
0          "Bridge Over Troubled Water"  Simon & Garfunkel     1
1      "(They Long to Be) Close to You"     The Carpenters     2
2                      "American Woman"      The Guess Who     3
3   "Raindrops Keep Fallin' on My Head"        B.J. Thomas     4
4                                 "War"        Edwin Starr     5
..                                  ...                ...   ...
95                      "Dancin' Shoes"       Nigel Olsson   996
96                           "The Boss"         Diana Ross   997
97                            "Sail On"         Commodores   998
98                      "I Do Love You"                 GQ   999
99                        "Strange Way"           Firefall  1000

[1000 rows x 3 columns]

# Años 80

In [22]:
egt_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1980')
egt_df

    No.                                 Title                        Artist(s)
0     1                             "Call Me"                          Blondie
1     2  "Another Brick in the Wall, Part II"                       Pink Floyd
2     3                               "Magic"               Olivia Newton-John
3     4                       "Rock with You"                  Michael Jackson
4     5         "Do That to Me One More Time"               Captain & Tennille
..  ...                                   ...                              ...
95   96                          "In America"             Charlie Daniels Band
96   97                "Breakdown Dead Ahead"                       Boz Scaggs
97   98                               "Ships"                    Barry Manilow
98   99                      "All Night Long"                        Joe Walsh
99  100                             "Refugee"  Tom Petty and the Heartbreakers

[100 rows x 3 columns]

In [23]:
egt_df1 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1981')
egt_df1

    No.                        Title                   Artist(s)
0     1           "Bette Davis Eyes"                  Kim Carnes
1     2               "Endless Love"  Diana Ross & Lionel Richie
2     3                       "Lady"                Kenny Rogers
3     4  "(Just Like) Starting Over"                 John Lennon
4     5              "Jessie's Girl"            Rick Springfield
..  ...                          ...                         ...
95   96      "Really Wanna Know You"                 Gary Wright
96   97            "Seven Year Ache"                Rosanne Cash
97   98             "I'm Coming Out"                  Diana Ross
98   99                   "Miss Sun"                  Boz Scaggs
99  100               "Time Is Time"                   Andy Gibb

[100 rows x 3 columns]

In [24]:
egt_df2 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1982')
egt_df2

,No.,Title,Artist(s)
0,1,"""Physical""",Olivia Newton-John
1,2,"""Eye of the Tiger""",Survivor
2,3,"""I Love Rock 'n Roll""",Joan Jett & The Blackhearts
3,4,"""Ebony and Ivory""",Paul McCartney and Stevie Wonder
4,5,"""Centerfold""",The J. Geils Band
...,...,...,...
95,96,"""Working for the Weekend""",Loverboy
96,97,"""Goin' Down""",Greg Guidry
97,98,"""Arthur's Theme (Best That You Can Do)""",Christopher Cross
98,99,"""Through the Years""",Kenny Rogers
99,100,"""Edge of Seventeen""",Stevie Nicks

In [25]:
egt_df3 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1983')
egt_df3

    No.                           Title                        Artist(s)
0     1         "Every Breath You Take"                       The Police
1     2                   "Billie Jean"                  Michael Jackson
2     3  "Flashdance... What a Feeling"                       Irene Cara
3     4                    "Down Under"                      Men at Work
4     5                       "Beat It"                  Michael Jackson
..  ...                             ...                              ...
95   96  "Tonight, I Celebrate My Love"   Peabo Bryson and Roberta Flack
96   97                 "You Got Lucky"  Tom Petty and the Heartbreakers
97   98                     "Don't Cry"                             Asia
98   99            "Breaking Us in Two"                      Joe Jackson
99  100          "Fall in Love with Me"               Earth, Wind & Fire

[100 rows x 3 columns]

In [26]:
egt_df4 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1984')
egt_df4

,No.,Title,Artist(s)
0,1,"""When Doves Cry""",Prince
1,2,"""What's Love Got to Do with It""",Tina Turner
2,3,"""Say Say Say""",Paul McCartney and Michael Jackson
3,4,"""Footloose""",Kenny Loggins
4,5,"""Against All Odds (Take a Look at Me Now)""",Phil Collins
...,...,...,...
95,96,"""Major Tom (Coming Home)""",Peter Schilling
96,97,"""Magic""",The Cars
97,98,"""When You Close Your Eyes""",Night Ranger
98,99,"""Rock Me Tonite""",Billy Squier
99,100,"""Yah Mo B There""",James Ingram and Michael McDonald

In [27]:
egt_df5 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1985')
egt_df5

      №                           Title      Artist(s)
0     1              "Careless Whisper"          Wham!
1     2                 "Like a Virgin"        Madonna
2     3   "Wake Me Up Before You Go-Go"          Wham!
3     4   "I Want to Know What Love Is"      Foreigner
4     5                "I Feel for You"     Chaka Khan
..  ...                             ...            ...
95   96                   "Penny Lover"  Lionel Richie
96   97  "All She Wants to Do Is Dance"     Don Henley
97   98                  "Dress You Up"        Madonna
98   99            "Sentimental Street"   Night Ranger
99  100                   "Sugar Walls"  Sheena Easton

[100 rows x 3 columns]

In [28]:
egt_df6 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1986')
egt_df6

,№,Title,Artist(s)
0,1,"""That's What Friends Are For""","Dionne and Friends (Dionne Warwick, Gladys Kni..."
1,2,"""Say You, Say Me""",Lionel Richie
2,3,"""I Miss You""",Klymaxx
3,4,"""On My Own""",Patti LaBelle and Michael McDonald
4,5,"""Broken Wings""",Mr. Mister
...,...,...,...
95,96,"""King for a Day""",Thompson Twins
96,97,"""Love Will Conquer All""",Lionel Richie
97,98,"""A Different Corner""",George Michael
98,99,"""I'll Be Over You""",Toto
99,100,"""Go Home""",Stevie Wonder

In [29]:
egt_df7 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1987')
egt_df7

    No.                                           Title            Artist(s)
0     1                         "Walk Like An Egyptian"          The Bangles
1     2                                         "Alone"                Heart
2     3                                "Shake You Down"       Gregory Abbott
3     4    "I Wanna Dance with Somebody (Who Loves Me)"      Whitney Houston
4     5                   "Nothing's Gonna Stop Us Now"             Starship
..  ...                                             ...                  ...
95   96                              "Meet Me Half Way"        Kenny Loggins
96   97                      "I've Been in Love Before"         Cutting Crew
97   98  "(You Gotta) Fight for Your Right (To Party!)"         Beastie Boys
98   99                                     "Funkytown"          Pseudo Echo
99  100                                 "Love You Down"  Ready for the World

[100 rows x 3 columns]

In [30]:
egt_df8 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1988')
egt_df8

    No.                      Title        Artist(s)
0     1                    "Faith"   George Michael
1     2         "Need You Tonight"             INXS
2     3   "Got My Mind Set on You"  George Harrison
3     4  "Never Gonna Give You Up"      Rick Astley
4     5      "Sweet Child o' Mine"    Guns N' Roses
..  ...                        ...              ...
95   96                  "Valerie"    Steve Winwood
96   97       "Just Like Paradise"   David Lee Roth
97   98  "Nothin' but a Good Time"           Poison
98   99                     "Wait"       White Lion
99  100          "Prove Your Love"     Taylor Dayne

[100 rows x 3 columns]

In [31]:
egt_df9 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1989')
egt_df9

    No.                       Title                    Artist(s)
0     1                 "Look Away"                      Chicago
1     2            "My Prerogative"                  Bobby Brown
2     3  "Every Rose Has Its Thorn"                       Poison
3     4               "Straight Up"                  Paula Abdul
4     5             "Miss You Much"                Janet Jackson
..  ...                         ...                          ...
95   96           "Thinking of You"                      Sa-Fire
96   97       "What You Don't Know"                       Exposé
97   98           "Surrender To Me"  Ann Wilson and Robin Zander
98   99  "The End of the Innocence"                   Don Henley
99  100            "Keep on Movin'"                 Soul II Soul

[100 rows x 3 columns]

In [59]:
egn_df_def = vertical_stack = pd.concat([egt_df, egt_df1, egt_df2, egt_df3, egt_df4, egt_df5, egt_df6, egt_df7, egt_df8, egt_df9], axis=0)
egn_df_def.reset_index()

number = []
for i in range(1, 1001):
    number.append(i)
    
egn_df_def['№'] = number
egn_df_def = egn_df_def.drop('No.', axis=1)
egn_df_def

                                   Title                    Artist(s)     №
0                              "Call Me"                      Blondie     1
1   "Another Brick in the Wall, Part II"                   Pink Floyd     2
2                                "Magic"           Olivia Newton-John     3
3                        "Rock with You"              Michael Jackson     4
4          "Do That to Me One More Time"           Captain & Tennille     5
..                                   ...                          ...   ...
95                     "Thinking of You"                      Sa-Fire   996
96                 "What You Don't Know"                       Exposé   997
97                     "Surrender To Me"  Ann Wilson and Robin Zander   998
98            "The End of the Innocence"                   Don Henley   999
99                      "Keep on Movin'"                 Soul II Soul  1000

[1000 rows x 3 columns]

# Años 90

In [32]:
nns_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1990')
nns_df

    No.                     Title                        Artist(s)
0     1                 "Hold On"                  Wilson Phillips
1     2  "It Must Have Been Love"                          Roxette
2     3    "Nothing Compares 2 U"                  Sinéad O'Connor
3     4                  "Poison"                   Bell Biv DeVoe
4     5                   "Vogue"                          Madonna
..  ...                       ...                              ...
95   96             "Without You"                      Mötley Crüe
96   97          "Swing the Mood"  Jive Bunny and the Mastermixers
97   98   "Thieves in the Temple"                           Prince
98   99               "Mentirosa"                   Mellow Man Ace
99  100             "Tic-Tac-Toe"                            Kyper

[100 rows x 3 columns]

In [33]:
nns_df1 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1991')
nns_df1

    No.                                         Title          Artist(s)
0     1           "(Everything I Do) I Do It for You"        Bryan Adams
1     2                          "I Wanna Sex You Up"      Color Me Badd
2     3  "Gonna Make You Sweat (Everybody Dance Now)"  C+C Music Factory
3     4                                   "Rush Rush"        Paula Abdul
4     5                                "One More Try"            Timmy T
..  ...                                           ...                ...
95   96                                   "I Saw Red"            Warrant
96   97                                  "Miles Away"             Winger
97   98                              "Do You Want Me"        Salt-n-Pepa
98   99                             "The Motown Song"        Rod Stewart
99  100                          "Shiny Happy People"             R.E.M.

[100 rows x 3 columns]

In [34]:
nns_df2 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1992')
nns_df2

      №                       Title         Artist(s)
0     1           "End of the Road"       Boyz II Men
1     2             "Baby Got Back"     Sir Mix-a-Lot
2     3                      "Jump"        Kris Kross
3     4    "Save the Best for Last"  Vanessa Williams
4     5            "Baby-Baby-Baby"               TLC
..  ...                         ...               ...
95   96       "I Will Remember You"         Amy Grant
96   97       "We Got a Love Thang"     CeCe Peniston
97   98          "Let's Get Rocked"       Def Leppard
98   99             "They Want EFX"           Das EFX
99  100  "I Can't Make You Love Me"      Bonnie Raitt

[100 rows x 3 columns]

In [35]:
nns_df3 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1993')
nns_df3

      №                             Title          Artist(s)
0     1          "I Will Always Love You"    Whitney Houston
1     2           "Whoomp! (There It Is)"           Tag Team
2     3      "Can't Help Falling in Love"               UB40
3     4        "That's the Way Love Goes"      Janet Jackson
4     5                        "Freak Me"               Silk
..  ...                               ...                ...
95   96  "If I Ever Lose My Faith in You"              Sting
96   97                     "Anniversary"  Tony! Toni! Toné!
97   98                       "One Woman"               Jade
98   99   "Can't Get Enough of Your Love"       Taylor Dayne
99  100                "Two Steps Behind"        Def Leppard

[100 rows x 3 columns]

In [36]:
nns_df4 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1994')
nns_df4

      №                    Title                          Artist(s)
0     1               "The Sign"                        Ace of Base
1     2                "I Swear"                          All-4-One
2     3  "I'll Make Love to You"                        Boyz II Men
3     4      "The Power of Love"                        Céline Dion
4     5                   "Hero"                       Mariah Carey
..  ...                      ...                                ...
95   96     "Always in My Heart"                     Tevin Campbell
96   97           "What Is Love"                           Haddaway
97   98       "And Our Feelings"                           Babyface
98   99   "Bop Gun (One Nation)"  Ice Cube featuring George Clinton
99  100        "I Wanna Be Down"                             Brandy

[100 rows x 3 columns]

In [37]:
nns_df5 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1995')
nns_df5

      №                    Title              Artist(s)
0     1     "Gangsta's Paradise"  Coolio featuring L.V.
1     2             "Waterfalls"                    TLC
2     3                  "Creep"                    TLC
3     4       "Kiss from a Rose"                   Seal
4     5         "On Bended Knee"            Boyz II Men
..  ...                      ...                    ...
95   96             "I Miss You"                 N II U
96   97          "Give It 2 You"                Da Brat
97   98            "Best Friend"                 Brandy
98   99                 "Misery"            Soul Asylum
99  100  "Can't Stop Lovin' You"              Van Halen

[100 rows x 3 columns]

In [38]:
nns_df6 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1996')
nns_df6

      №                          Title                     Artist(s)
0     1  "Macarena (Bayside Boys Mix)"                   Los del Río
1     2                "One Sweet Day"  Mariah Carey and Boyz II Men
2     3         "Because You Loved Me"                   Céline Dion
3     4                 "Nobody Knows"         The Tony Rich Project
4     5            "Always Be My Baby"                  Mariah Carey
..  ...                            ...                           ...
95   96       "I Got Id" / "Long Road"                     Pearl Jam
96   97           "Soon as I Get Home"                   Faith Evans
97   98                     "Macarena"                   Los del Río
98   99       "Only Wanna Be with You"         Hootie & the Blowfish
99  100                    "Don't Cry"                          Seal

[100 rows x 3 columns]

In [39]:
nns_df7 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1997')
nns_df7

,No.,Title,Artist(s)
0,1,"""Candle in the Wind 1997"" / ""Something About t...",Elton John
1,2,"""You Were Meant for Me"" / ""Foolish Games""",Jewel
2,3,"""I'll Be Missing You""",Puff Daddy and Faith Evans featuring 112
3,4,"""Un-Break My Heart""",Toni Braxton
4,5,"""Can't Nobody Hold Me Down""",Puff Daddy featuring Mase
...,...,...,...
95,96,"""Let Me Clear My Throat""",DJ Kool
96,97,"""I Like It""",The Blackout All-Stars
97,98,"""You're Makin' Me High"" / ""Let It Flow""",Toni Braxton
98,99,"""You Must Love Me""",Madonna
99,100,"""Let It Go""",Ray J

In [40]:
nns_df8 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1998')
nns_df8

      №                           Title          Artist(s)
0     1                     "Too Close"               Next
1     2               "The Boy Is Mine"  Brandy and Monica
2     3          "You're Still the One"       Shania Twain
3     4            "Truly Madly Deeply"      Savage Garden
4     5                 "How Do I Live"        LeAnn Rimes
..  ...                             ...                ...
95   96       "4 Seasons of Loneliness"        Boyz II Men
96   97                        "Father"          LL Cool J
97   98              "Thinkin' Bout It"      Gerald Levert
98   99  "Nobody's Supposed to Be Here"        Deborah Cox
99  100                      "Westside"                 TQ

[100 rows x 3 columns]

In [41]:
nns_df9 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1999')
nns_df9

,№,Title,Artist(s)
0,1,"""Believe""",Cher
1,2,"""No Scrubs""",TLC
2,3,"""Angel of Mine""",Monica
3,4,"""Heartbreak Hotel""",Whitney Houston featuring Faith Evans and Kell...
4,5,"""...Baby One More Time""",Britney Spears
...,...,...,...
95,96,"""Better Days (And the Bottom Drops Out)""",Citizen King
96,97,"""Music of My Heart""",'N Sync and Gloria Estefan
97,98,"""Write This Down""",George Strait
98,99,"""When You Believe""",Whitney Houston and Mariah Carey
99,100,"""(God Must Have Spent) A Little More Time on You""",Alabama and 'N Sync

In [62]:
nnt_df_def = vertical_stack = pd.concat([nns_df, nns_df1, nns_df2, nns_df3, nns_df4, nns_df5, nns_df6, nns_df7, nns_df8, nns_df9], axis=0)
nnt_df_def.reset_index()

number = []
for i in range(1, 1001):
    number.append(i)
    
nnt_df_def['№'] = number
nnt_df_def = nnt_df_def.drop('No.', axis=1)
nnt_df_def

,Title,Artist(s),№
0,"""Hold On""",Wilson Phillips,1
1,"""It Must Have Been Love""",Roxette,2
2,"""Nothing Compares 2 U""",Sinéad O'Connor,3
3,"""Poison""",Bell Biv DeVoe,4
4,"""Vogue""",Madonna,5
...,...,...,...
95,"""Better Days (And the Bottom Drops Out)""",Citizen King,996
96,"""Music of My Heart""",'N Sync and Gloria Estefan,997
97,"""Write This Down""",George Strait,998
98,"""When You Believe""",Whitney Houston and Mariah Carey,999
99,"""(God Must Have Spent) A Little More Time on You""",Alabama and 'N Sync,1000

# Años 00

In [42]:
zrs_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2000')
zrs_df

    No.                       Title                          Artist(s)
0     1                   "Breathe"                         Faith Hill
1     2                    "Smooth"       Santana featuring Rob Thomas
2     3               "Maria Maria"  Santana featuring The Product G&B
3     4              "I Wanna Know"                                Joe
4     5       "Everything You Want"                   Vertical Horizon
..  ...                         ...                                ...
95   96             "I Don't Wanna"                            Aaliyah
96   97  "Independent Women Part I"                    Destiny's Child
97   98            "Gotta Tell You"                     Samantha Mumba
98   99       "Waiting for Tonight"                     Jennifer Lopez
99  100     "Shackles (Praise You)"                          Mary Mary

[100 rows x 3 columns]

In [43]:
zrs_df1 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2001')
zrs_df1

    No.                         Title                                Artist(s)
0     1         "Hanging by a Moment"                                Lifehouse
1     2                     "Fallin'"                              Alicia Keys
2     3                 "All for You"                                    Janet
3     4  "Drops of Jupiter (Tell Me)"                                    Train
4     5     "I'm Real (Murder Remix)"         Jennifer Lopez featuring Ja Rule
..  ...                           ...                                      ...
95   96                "Be Like That"                             3 Doors Down
96   97                  "Most Girls"                                     Pink
97   98                "Oochie Wally"  QB Finest featuring Nas and Bravehearts
98   99                        "Hero"                         Enrique Iglesias
99  100    "Hemorrhage (In My Hands)"                                     Fuel

[100 rows x 3 columns]

In [44]:
zrs_df2 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2002')
zrs_df2

,No.,Title,Artist(s)
0,1,"""How You Remind Me""",Nickelback
1,2,"""Foolish""",Ashanti
2,3,"""Hot in Herre""",Nelly
3,4,"""Dilemma""",Nelly featuring Kelly Rowland
4,5,"""Wherever You Will Go""",The Calling
...,...,...,...
95,96,"""Sk8er Boi""",Avril Lavigne
96,97,"""Long Time Gone""",Dixie Chicks
97,98,"""Where Were You (When the World Stopped Turning)""",Alan Jackson
98,99,"""Like I Love You""",Justin Timberlake
99,100,"""I Do!!""",Toya

In [45]:
zrs_df3 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2003')
zrs_df3

    No.             Title                Artist(s)
0     1      "In da Club"                  50 Cent
1     2        "Ignition"                 R. Kelly
2     3        "Get Busy"                Sean Paul
3     4   "Crazy in Love"  Beyoncé featuring Jay-Z
4     5   "When I'm Gone"             3 Doors Down
..  ...               ...                      ...
95   96    "Like a Stone"               Audioslave
96   97  "Don't Know Why"              Norah Jones
97   98        "Superman"                   Eminem
98   99   "Real Good Man"               Tim McGraw
99  100         "Say Yes"                  Floetry

[100 rows x 3 columns]

In [46]:
zrs_df4 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2004')
zrs_df4

    No.                 Title                             Artist(s)
0     1               "Yeah!"  Usher featuring Lil Jon and Ludacris
1     2                "Burn"                                 Usher
2     3  "If I Ain't Got You"                           Alicia Keys
3     4           "This Love"                              Maroon 5
4     5    "The Way You Move"        OutKast featuring Sleepy Brown
..  ...                   ...                                   ...
95   96       "Over and Over"            Nelly featuring Tim McGraw
96   97       "Redneck Woman"                       Gretchen Wilson
97   98        "Just Lose It"                                Eminem
98   99   "Letters from Home"               John Michael Montgomery
99  100           "I Go Back"                         Kenny Chesney

[100 rows x 3 columns]

In [47]:
zrs_df5 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2005')
zrs_df5

    No.                 Title                      Artist(s)
0     1  "We Belong Together"                   Mariah Carey
1     2      "Hollaback Girl"                   Gwen Stefani
2     3     "Let Me Love You"                          Mario
3     4   "Since U Been Gone"                 Kelly Clarkson
4     5           "1, 2 Step"  Ciara featuring Missy Elliott
..  ...                   ...                            ...
95   96             "Chariot"                   Gavin DeGraw
96   97      "U Already Know"       112 featuring Foxy Brown
97   98    "Mississippi Girl"                     Faith Hill
98   99     "Number One Spot"                       Ludacris
99  100        "Give Me That"         Webbie featuring Bun B

[100 rows x 3 columns]

In [48]:
zrs_df6 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2006')
zrs_df6

    No.                          Title                          Artist(s)
0     1                      "Bad Day"                      Daniel Powter
1     2                  "Temperature"                          Sean Paul
2     3                  "Promiscuous"  Nelly Furtado featuring Timbaland
3     4             "You're Beautiful"                        James Blunt
4     5               "Hips Don't Lie"      Shakira featuring Wyclef Jean
..  ...                            ...                                ...
95   96                 "Stupid Girls"                               Pink
96   97               "Feel Good Inc."                           Gorillaz
97   98                   "I'm Sprung"                             T-Pain
98   99          "Do I Make You Proud"                       Taylor Hicks
99  100  "For You I Will (Confidence)"                       Teddy Geiger

[100 rows x 3 columns]

In [49]:
zrs_df7 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2007')
zrs_df7

      №                              Title                      Artist(s)
0     1                    "Irreplaceable"                        Beyoncé
1     2                         "Umbrella"        Rihanna featuring Jay-Z
2     3                 "The Sweet Escape"    Gwen Stefani featuring Akon
3     4              "Big Girls Don't Cry"                         Fergie
4     5  "Buy U a Drank (Shawty Snappin')"      T-Pain featuring Yung Joc
..  ...                                ...                            ...
95   96                       "LoveStoned"              Justin Timberlake
96   97                   "Better than Me"                         Hinder
97   98                        "Paralyzer"                  Finger Eleven
98   99                      "That's That"  Snoop Dogg featuring R. Kelly
99  100                        "Same Girl"       R. Kelly featuring Usher

[100 rows x 3 columns]

In [50]:
zrs_df8 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2008')
zrs_df8

      №             Title                                Artist(s)
0     1             "Low"                Flo Rida featuring T-Pain
1     2   "Bleeding Love"                              Leona Lewis
2     3          "No One"                              Alicia Keys
3     4        "Lollipop"         Lil Wayne featuring Static Major
4     5       "Apologize"          Timbaland featuring OneRepublic
..  ...               ...                                      ...
95   96   "The Way I Are"          Timbaland featuring Keri Hilson
96   97        "Addicted"                              Saving Abel
97   98  "Into the Night"           Santana featuring Chad Kroeger
98   99     "Heaven Sent"                             Keyshia Cole
99  100      "She Got It"  2 Pistols featuring T-Pain and Tay Dizm

[100 rows x 3 columns]

In [51]:
zrs_df9 = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2009')
zrs_df9

,No.,Title,Artist(s)
0,1,"""Boom Boom Pow""",The Black Eyed Peas
1,2,"""Poker Face""",Lady Gaga
2,3,"""Just Dance""",Lady Gaga featuring Colby O'Donis
3,4,"""I Gotta Feeling""",The Black Eyed Peas
4,5,"""Love Story""",Taylor Swift
...,...,...,...
95,96,"""Goodbye""",Kristinia DeBarge
96,97,"""Say Hey (I Love You)""",Michael Franti & Spearhead featuring Cherine A...
97,98,"""Pop Champagne""",Jim Jones featuring Ron Browz and Juelz Santana
98,99,"""Pretty Wings""",Maxwell
99,100,"""Never Say Never""",The Fray

In [63]:
zrs_df_def = vertical_stack = pd.concat([zrs_df, zrs_df1, zrs_df2, zrs_df3, zrs_df4, zrs_df5, zrs_df6, zrs_df7, zrs_df8, zrs_df9], axis=0)
zrs_df_def.reset_index()

number = []
for i in range(1, 1001):
    number.append(i)
    
zrs_df_def['№'] = number
zrs_df_def = zrs_df_def.drop('No.', axis=1)
zrs_df_def

,Title,Artist(s),№
0,"""Breathe""",Faith Hill,1
1,"""Smooth""",Santana featuring Rob Thomas,2
2,"""Maria Maria""",Santana featuring The Product G&B,3
3,"""I Wanna Know""",Joe,4
4,"""Everything You Want""",Vertical Horizon,5
...,...,...,...
95,"""Goodbye""",Kristinia DeBarge,996
96,"""Say Hey (I Love You)""",Michael Franti & Spearhead featuring Cherine A...,997
97,"""Pop Champagne""",Jim Jones featuring Ron Browz and Juelz Santana,998
98,"""Pretty Wings""",Maxwell,999
99,"""Never Say Never""",The Fray,1000