In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [19]:
def get_df(url):
    html = requests.get(url).content
    
    soup = bs(html, 'html.parser')
    
    tabla = soup.find_all('table')[0]
    
    filas = tabla.find_all('tr')
    
    columnas = filas[0].find_all('th')
    cols = [i.text.split('\n')[0] for i in columnas]
    
    filas_def = []

    for i in range(1, len(filas)):
        fila_i = filas[i].find_all('td')
        filas_def.append(fila_i)

    data = []

    for i in range(len(filas_def)):
        aux = []
        for j in range(len(filas_def[i])):
            elem = filas_def[i][j].text
            aux.append(elem)
        data.append(aux)
        
    for i in range(len(data)):
        data[i][2] = data[i][2][:-1]
    
    df = pd.DataFrame(data, columns=cols)
    return df

In [20]:
sxt_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1960')
sxt_df

    No.                         Title                         Artist(s)
0     1   "Theme from A Summer Place"                       Percy Faith
1     2            "He'll Have to Go"                        Jim Reeves
2     3               "Cathy's Clown"               The Everly Brothers
3     4                "Running Bear"                    Johnny Preston
4     5                  "Teen Angel"                      Mark Dinning
..  ...                           ...                               ...
95   96           "Little Bitty Girl"                      Bobby Rydell
96   97  "Money (That's What I Want)"                    Barrett Strong
97   98                        "Stay"  Maurice Williams and the Zodiacs
98   99             "Lonely Weekends"                      Charlie Rich
99  100                       "Sandy"                        Larry Hall

[100 rows x 3 columns]

In [21]:
svn_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1970')
svn_df

    No.                                   Title          Artist(s)
0     1            "Bridge Over Troubled Water"  Simon & Garfunkel
1     2        "(They Long to Be) Close to You"     The Carpenters
2     3                        "American Woman"      The Guess Who
3     4     "Raindrops Keep Fallin' on My Head"        B.J. Thomas
4     5                                   "War"        Edwin Starr
..  ...                                     ...                ...
95   96  "Look What They've Done to My Song Ma"    The New Seekers
96   97               "Walk A Mile In My Shoes"          Joe South
97   98                    "The Thrill Is Gone"          B.B. King
98   99                "It's Only Make Believe"      Glen Campbell
99  100                               "Call Me"    Aretha Franklin

[100 rows x 3 columns]

In [22]:
egt_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1980')
egt_df

    No.                                 Title                        Artist(s)
0     1                             "Call Me"                          Blondie
1     2  "Another Brick in the Wall, Part II"                       Pink Floyd
2     3                               "Magic"               Olivia Newton-John
3     4                       "Rock with You"                  Michael Jackson
4     5         "Do That to Me One More Time"               Captain & Tennille
..  ...                                   ...                              ...
95   96                          "In America"             Charlie Daniels Band
96   97                "Breakdown Dead Ahead"                       Boz Scaggs
97   98                               "Ships"                    Barry Manilow
98   99                      "All Night Long"                        Joe Walsh
99  100                             "Refugee"  Tom Petty and the Heartbreakers

[100 rows x 3 columns]

In [23]:
nns_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_1990')
nns_df

    No.                     Title                        Artist(s)
0     1                 "Hold On"                  Wilson Phillips
1     2  "It Must Have Been Love"                          Roxette
2     3    "Nothing Compares 2 U"                  Sinéad O'Connor
3     4                  "Poison"                   Bell Biv DeVoe
4     5                   "Vogue"                          Madonna
..  ...                       ...                              ...
95   96             "Without You"                      Mötley Crüe
96   97          "Swing the Mood"  Jive Bunny and the Mastermixers
97   98   "Thieves in the Temple"                           Prince
98   99               "Mentirosa"                   Mellow Man Ace
99  100             "Tic-Tac-Toe"                            Kyper

[100 rows x 3 columns]

In [24]:
zrs_df = get_df('https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2000')
zrs_df

    No.                       Title                          Artist(s)
0     1                   "Breathe"                         Faith Hill
1     2                    "Smooth"       Santana featuring Rob Thomas
2     3               "Maria Maria"  Santana featuring The Product G&B
3     4              "I Wanna Know"                                Joe
4     5       "Everything You Want"                   Vertical Horizon
..  ...                         ...                                ...
95   96             "I Don't Wanna"                            Aaliyah
96   97  "Independent Women Part I"                    Destiny's Child
97   98            "Gotta Tell You"                     Samantha Mumba
98   99       "Waiting for Tonight"                     Jennifer Lopez
99  100     "Shackles (Praise You)"                          Mary Mary

[100 rows x 3 columns]

# He cogido solo los de cada año, hay que modifcarlo